<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Юзер</title>
</head>
<body>
<div th:object="${user}">
    <h2>Heey, <span th:text="${user.getUsername()}"/>! <br> Страница только для тебя.</h2>
    <p>Твой емейл - <span th:text="${user.getEmail()}"/></p>
    <div>
        Твои роли -
        <p th:each="role : ${user.getRoles()}"><span th:text="${role.getName()}"/></p>
    </div>
    <a href="/">Главная</a>
    <a th:replace="index :: out"></a>
</div>
</body>
</html>